.envrc
.tags
TAGS
logs
src
lib
grdb_old.tar.gz
reset_tomcat
reset_data
WEB-INF/cleansources
WEB-INF/classes
tth_C/tth
docs/report/auto
docs/report/_minted-report
docs/report/*.aux
docs/report/*.blg
docs/report/*.fdb_latexmk
docs/report/*.log
docs/report/*.fls
docs/report/*.bbl
docs/report/*.synctex.gz
docs/report/*Notes.bib
*.pdf
